################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
eggs-directory=${buildout:directory}/../../eggs/cache
develminibuildsop-eggs-directory=${buildout:directory}/../../eggs/develop-eggs
parts = site-packages-2.4 site-packages-2.5
versions = versions
hooks-directory = ${buildout:directory}/hooks
[versions]
setuptools = 0.6c8
minitage.recipe = 0.0.1
minitage.core = 0.0.4
[minitage]
dependencies=zlib-1.2 libxml2-2.6 libxslt-1.1
[site-packages-2.4]
name = site-packages-2.4
minitage-dependencies = python-2.4
recipe = minitage.recipe:cmmi
recipe = minitage.recipe:cmmi
url =  ftp://${mirrors:gentoo}/gentoo/distfiles/libxslt-1.1.22.tar.gz
md5sum = d6a9a020a76a3db17848d769d6c9c8a9  
pre-make-hook=${buildout:hooks-directory}/libxml.py:libxml2_24
post-make-hook=${buildout:hooks-directory}/libxml.py:install
noinstall=true

[site-packages-2.5]
name = site-packages-2.5
minitage-dependencies = python-2.5
recipe = minitage.recipe:cmmi
recipe = minitage.recipe:cmmi
url =  ftp://${mirrors:gentoo}/gentoo/distfiles/libxslt-1.1.22.tar.gz
md5sum = d6a9a020a76a3db17848d769d6c9c8a9  
pre-make-hook=${buildout:hooks-directory}/libxml.py:libxml2_25
post-make-hook=${buildout:hooks-directory}/libxml.py:install
noinstall=true

[mirrors]
gentoo  = gentoo.imj.fr/pub
